body {
  margin: 0;
  padding: 0;
}

#main {
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(to top, #040529, #77cbd6); */
  background-image: url("https://i.pinimg.com/originals/4a/6d/59/4a6d59a24e9f463e48c618b166c19f6b.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#particles {
  width: 100%;
  height: 100%;
}

#fish {
  position: absolute;
  top: 50%;
  opacity: 0.92;
  /*  -webkit-transform: scaleX(-1); */
  /* transform: scaleX(-1); */
  /* filter: invert(32%) sepia(62%) saturate(1767%) hue-rotate(189deg) brightness(97%) contrast(85%); */
  height: 18%;
  width: 17%;
}

#particle {
  position: absolute;
  padding: 0%;
  margin: 0%;
  animation-name: sweep;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

/* #garbage{
  height: 38%;
  width: 38%;
} */

@keyframes sweep {
  from {
    left: 100vw;
  }
  to {
    left: 0vw;
  }
}

